$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// AVAILABLE FONTS ================
// Open+Sans+Condensed:300,700
// Open+Sans:100,200,300,400,700
// Karla:400,400italic,700,700italic
// Montserrat:400,700
// Oswald:300,400,700