@import "colors";
@import "typography";
@import "structure";

// ======================= MEDIA QUERIES
$mobile: "(max-width: 480px)";
$mobile-landscape: "(max-height: 450px)";
$tablet: "(max-width: 768px)";
$small-desktop: "(max-width: 940px)";
$large: "(min-width: 960px)";

@media #{$mobile} {

} 

@media #{$large} {

} 

@media #{$tablet} {

} 