/* CONTENT */
.single-content > *:first-child,
.content > *:first-child {
  margin-top: 0;
}

.content h2 + h3 {
  margin-bottom: 1rem;
}
.content p + h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.content p + h3,
.content p + h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.content__main-heading + div > h3:first-child {
  margin-top: 1rem;
}

.content p + ul {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.content h2 + ul,
.content h3 + ul,
.content h4 + ul {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.content p + hr,
.content ul + hr,
.content ol + hr,
.content figure + hr,
.notes hr,
.single-content hr {
  opacity: 0.2;
  width: 80%;
  margin: 2rem auto 2rem;
  border: none;
  border-bottom: 1px solid var(--main-font-color);
}

.content .highlights p + hr,
.content .highlights ul + hr,
.content .highlights ol + hr,
.content .highlights figure + hr,
.single-content .highlights hr {
  opacity: 0.1;
  width: 30%;
}

.content figure {
  text-align: center;
}

.content img {
  max-width: 85%;
  height: auto;
  margin: 0 auto;
}

.content iframe {
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .content iframe {
    max-width: 100%;
    height: auto;
  }
}

.content figure {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 700px) {
  .content figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.content figcaption {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  font-family: "input-mono", monospace;
}
