:root {
  --main-bg-color: #ffffff;
  --main-font-color: rgb(37, 37, 37);
  --meta-font-color: grey;
  --link-main: #2196f3;
  --link-sub: #afafaf;
  --link-hover: #0071f3bb;
  --link-active: #0071f3cc;
  --list-border: #f3f3f3;
  --link-btn: #2196f3;
  --link-btn-font: #ffffff;
  --nav-border: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #121212;
    --main-font-color: #e0e0e0;
    --meta-font-color: #5c5c5c;
    --link-sub: #616161;
    --link-active: #2196f3;
    --list-border: #242424;
    --link-btn: #999999;
    --link-btn-font: #121212;
    --nav-border: #363636;
  }
}

// var(--list-border)

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 20px;
  color: var(--main-font-color);
}

* {
  box-sizing: border-box;
}

.opacity--80 {
  opacity: 0.8;
}

.opacity--50 {
  opacity: 0.5;
}

.opacity--30 {
  opacity: 0.3;
}
