/* Grid Overlay */
.grid {
  position: fixed;
  width: calc(100vw - 8rem);
  max-width: 1680px;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  margin: 0 4rem;
  z-index: -1;
  display: none;
}

.grid > div {
  background-color: rgba(0, 0, 0, 0.05);
  /* border-right: 1px solid red;
    border-left: 1px solid red; */
  height: 100vh;
}

/* Layout */
.display--ib {
  display: inline-block;
}

.display--b {
  display: block;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

.container--grid {
  // display: grid;
  // grid-template-columns: repeat(12, [col-start] 1fr);
  // grid-gap: 10px;
}

.grid--span-1 {
  grid-column: auto / span 1;
}
.grid--span-2 {
  grid-column: auto / span 2;
}
.grid--span-3 {
  grid-column: auto / span 3;
}
.grid--span-4 {
  grid-column: auto / span 4;
}
.grid--span-5 {
  grid-column: auto / span 5;
}
.grid--span-6 {
  grid-column: auto / span 6;
}
.grid--span-7 {
  grid-column: auto / span 7;
}
.grid--span-all {
  grid-column: auto / span 12;
}

.grid--start-1 {
  grid-column-start: 1;
}

.grid--start-2 {
  grid-column-start: 2;
}

.grid--start-3 {
  grid-column-start: 3;
}

.grid--start-4 {
  grid-column-start: 4;
}

.grid--start-5 {
  grid-column-start: 5;
}

.grid--start-6 {
  grid-column-start: 6;
}

.grid--start-7 {
  grid-column-start: 7;
}

.grid--start-8 {
  grid-column-start: 8;
}

.grid--start-9 {
  grid-column-start: 9;
}

.grid--tr-min {
  grid-template-rows: min-content;
}

/* FLEXBOX */
.flex {
  display: flex;
}

@media only screen and (min-width: 700px) {
  .flex-all {
    display: flex;
  }
}

.flex--col {
  flex-direction: column;
}

.flex--ai-c {
  align-items: center;
}

.flex--ai-fe {
  align-items: flex-end;
}

.flex--jc-c {
  justify-content: center;
}

.flex--jc-fe {
  justify-content: flex-end;
}

.flex--jc-sb {
  justify-content: space-between;
}

// Margin/Padding
.mb--sm {
  margin-bottom: 1rem;
}

.mb--md {
  margin-bottom: 1.5rem;
}

.mb--lg {
  margin-bottom: 2rem;
}

.mt--sm {
  margin-top: 1rem;
}

.mt--md {
  margin-top: 1.5rem;
}

.mt--lg {
  margin-top: 2rem;
}

.pb--sm {
  padding-bottom: 1rem;
}

.pb--md {
  padding-bottom: 1.5rem;
}

.pb--lg {
  padding-bottom: 2rem;
}

.pt--sm {
  padding-top: 1rem;
}

.pt--md {
  padding-top: 1.5rem;
}

.pt--lg {
  padding-top: 2rem;
}

// Single content
/* CONTENT */
.single-content > *:first-child,
.content > *:first-child {
  margin-top: 0;
}

.content h2 + h3 {
  margin-bottom: 1rem;
}
.content p + h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.content p + h3,
.content p + h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.content ul li + li {
  // margin-top: 0.5rem;
}

.content p + ul {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.content h2 + ul,
.content h3 + ul,
.content h4 + ul {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.content p + hr,
.content ul + hr,
.content ol + hr,
.content figure + hr {
  opacity: 0.3;
  width: 80%;
  margin: 2rem auto 2rem;
}

.content figure {
  text-align: center;
}

.content img {
  max-width: 85%;
  height: auto;
  margin: 0 auto;
}

.content iframe {
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .content iframe {
    max-width: 100%;
    height: auto;
  }
}

.content figure {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 700px) {
  .content figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.content figcaption {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  font-family: "input-mono", monospace;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 0 4rem;
  }
  .container--grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .mb--md {
    margin-bottom: 2rem;
  }

  .mb--lg {
    margin-bottom: 4rem;
  }

  .mt--md {
    margin-top: 2rem;
  }

  .mt--lg {
    margin-top: 4rem;
  }

  .pb--md {
    padding-bottom: 2rem;
  }

  .pb--lg {
    padding-bottom: 4rem;
  }

  .pt--md {
    padding-top: 2rem;
  }

  .pt--lg {
    padding-top: 4rem;
  }
}
