@media (prefers-color-scheme: dark) {
  *::selection {
    background: #8b8b8b;
  }

  body {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    -moz-osx-font-smoothing: grayscale;
  }

  .grid > div {
    background-color: rgba(255, 255, 255, 0.05);
  }

  /* LINKS */

  .sub-nav a:visited:not(.active) {
    border-bottom: 2px solid var(--link-sub);
  }

  .sub-nav a:visited:not(.active):hover {
    border-bottom: 2px solid var(--link-active);
  }

  a:hover,
  a:focus {
    /* font-weight: bold; */
    border-bottom: 2px solid #90caf9;
  }

  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.5);
  }

  .background-color {
    color: #e0e0e0;
  }

  @media only screen and (max-width: 500px) {
    header {
      background: #121212;
    }
  }
  @media only screen and (max-width: 600px) {
    nav.main-nav {
      background: #121212;
    }
  }
}
