*::selection {
  background: #dadada;
}

.fc--meta {
  color: var(--meta-font-color);
}

.mono {
  font-family: "input-mono", monospace;
}

.uppercase {
  text-transform: uppercase;
}

.fw--normal {
  font-weight: normal;
}

.italic {
  font-style: italic;
}
// Font Size

.fs--xs {
  font-size: 0.6rem;
}

.fs--sm {
  font-size: 0.7rem;
}

.fs--md {
  font-size: 0.8rem;
}

.fs--lg {
  font-size: 1.1rem;
}

.fs--xl {
  font-size: 1.5rem;
}

.fs--xxl {
  font-size: 2rem;
}

// Text Align

.text-align--c {
  text-align: center;
}

.text-align--r {
  text-align: right;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: kepler-std, serif;
  font-weight: 500;
  // font-weight: normal;
  font-style: normal;
  margin: 0;
}

// Links

a {
  color: var(--main-font-color);
  border-bottom: 2px solid var(--link-main);
  text-decoration: none;
}

a:visited {
  color: var(--main-font-color);
  border: none;
  border-bottom: 2px solid var(--link-main);
}

a::selection {
  background: var(--link-main);
  color: white;
}

.sub-nav a {
  border-bottom: 2px solid var(--link-sub);
}

.sub-nav a:hover {
  border-bottom: 2px solid var(--link-hover);
}

.sub-nav a.active {
  border-bottom: 2px solid var(--link-active);
  font-weight: 500;
}

a.no-border,
.border--none {
  border-bottom: none;
}

.border--none:hover {
  border-bottom: none;
}

a:hover {
  border-bottom: 3px solid var(--link-hover);
}

p {
  // word-break: break-all;
}
/* QUOTES */
blockquote {
  font-size: 1.3rem;
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  margin-left: 2rem;
  padding: 2rem 0 2rem 2rem;
}

blockquote cite {
  font-size: 12px;
  opacity: 0.8;
  font-family: "input-mono", monospace;
}

p + blockquote,
h1 + blockquote,
h2 + blockquote,
h3 + blockquote,
h4 + blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

blockquote + p {
  margin-top: 2rem;
}

.single-title {
  line-height: 1.2;
}

// Lists
.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Buttons

.btn {
  border-radius: 0;
  border-bottom: none;
  border: 1px solid var(--link-btn) !important;
  display: inline-block;
  padding: 0.5rem;
  color: var(--link-btn-font) !important;
  background: var(--link-btn);
  width: 10rem;
  text-align: center;
}

.btn--sm {
  padding: 0.5rem 0.8rem;
}

.btn--ghost {
  border: 1px solid var(--link-sub) !important;
  background: transparent;
  color: var(--link-sub) !important;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: var(--link-hover);
  border-bottom: none;
  color: white;
  border: 1px solid var(--link-main) !important;
}

.btn--ghost:hover,
.btn--ghost:active,
.btn--ghost:focus {
  color: white !important;
}

// Single
.read-stats > span:first-child {
  font-size: 0.6rem;
  color: darkgrey;
}

/* Skip to content link */
/* Using @reach/skip-nav */

@media only screen and (max-width: 600px) {
  [data-reach-skip-nav-link] {
    display: none;
  }
}

[data-reach-skip-nav-link] {
  background: var(--link-main);
  left: calc(50% - 50px);
  color: white;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

[data-reach-skip-nav-link]:focus {
  transform: translateY(0%);
}

// Misc
.message.success a {
  color: rgb(37, 37, 37);
}

.nav-sentence p {
  margin-top: 0;
}

.intro-bio p {
  margin-bottom: 0;
}

@media only screen and (max-width: 400px) {
  .btn--100 {
    width: 100%;
    text-align: center;
  }
  .fs--xl {
    font-size: 1.2rem;
  }
  .nav-sentence {
    margin-top: 1rem;
  }
}
