.htaccess
.DS_Store
.sass-cache/
robots.txt
node_modules/

# Projects
commentary/
goodmornings/
gostudy/
lady/
ladytest/
wordpresstheme/

# Wordpress specific
wordpress/
wordpress/*
wp-config.php
uploads/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
w3tc-config/*
cache/*
supercache/*