.pro-container {
	margin-top: 50px;
	font-family: 'Open Sans';
	@media #{$large} {
		display: flex;
	} 
	@media #{$mobile} {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	} 
	.image-container {
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
		@media #{$large} {
			display: flex;
			flex: 1 0 60%;
		} 
		@media #{$mobile} {
			order: -1;
		}
		img {
			margin-bottom: 50px;
			@media #{$mobile} {
				margin-bottom: 20px;
			}
		}
	}
	.full-details {
		// background-color: rgba(0,0,0,0.1);
		padding-right: 50px;
		@media #{$large} {
			flex: 1 0 40%;
		}
		@media #{$mobile} {
			// text-align: center;
			flex: 100%;
			padding: 0;
		} 
		h2 {
			text-transform: uppercase;
			margin: 0 auto;
			letter-spacing: 3px;
		}
		h3 {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 13px;
			letter-spacing: 5px;
			background-color: rgba(0,0,0,0.3);
			margin: 0;
			margin-right: 30%;
			padding: 3px 10px;
			@media #{$mobile} {
				margin: 0;
			} 
		}
		h4 {
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 400;
			letter-spacing: 3px;
			padding-bottom: 10px;
			border-bottom: 1px solid grey;
			@media #{$mobile} {
				border-bottom: none;
			}
		}
		.techUsed {
			background-color: rgba(255,255,255,0.9);
			color: #000;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 3px; 
			padding: 5px 10px;
			margin-right: 20%;
			@media #{$mobile} {
				margin: 10px auto;
			} 
		}
		.longDesc {
			color: #000;
			// text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 2px;
			line-height: 20px;
			// padding-right: 25px;
			@media #{$mobile} {
				margin-top: 30px;
			} 
		}
		.liveDemoBtn {
			width: 110px;
			height: 40px;
			color: #fff;
			background-color: rgba(0,0,0,0.8);
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 2px;
			margin: 0 10px 0 0;
			padding-top: 1px;
			border-radius: 5px;
			&:hover {
				background-color: rgba(0,0,0,0.4);
			}
			@media #{$mobile} {
				margin: 0 auto 20px;
			} 
		}
	}
}