/* Grid Overlay */
.grid {
  position: fixed;
  width: calc(100vw - 8rem);
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  margin: 0 4rem;
  z-index: -1;
  // display: none;
}

.grid > div {
  background-color: rgba(0, 0, 0, 0.05);
  /* border-right: 1px solid red;
    border-left: 1px solid red; */
  height: 100vh;
}

/* Layout */
.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

.container--grid {
  // display: grid;
  // grid-template-columns: repeat(12, [col-start] 1fr);
  // grid-gap: 10px;
}

.grid--span-1 {
  grid-column: auto / span 1;
}
.grid--span-2 {
  grid-column: auto / span 2;
}
.grid--span-3 {
  grid-column: auto / span 3;
}
.grid--span-4 {
  grid-column: auto / span 4;
}
.grid--span-5 {
  grid-column: auto / span 5;
}
.grid--span-6 {
  grid-column: auto / span 6;
}
.grid--span-7 {
  grid-column: auto / span 7;
}
.grid--span-all {
  grid-column: auto / span 12;
}

.grid--start-1 {
  grid-column-start: 1;
}

.grid--start-2 {
  grid-column-start: 2;
}

.grid--start-3 {
  grid-column-start: 3;
}

.grid--start-4 {
  grid-column-start: 4;
}

.grid--start-5 {
  grid-column-start: 5;
}

.grid--start-6 {
  grid-column-start: 6;
}

.grid--start-7 {
  grid-column-start: 7;
}

.grid--start-8 {
  grid-column-start: 8;
}

.grid--start-9 {
  grid-column-start: 9;
}

/* FLEXBOX */
.flex-all {
  display: flex;
}

.flex--col {
  flex-direction: column;
}

.flex--ai-c {
  align-items: center;
}

.flex--ai-fe {
  align-items: flex-end;
}

.flex--jc-c {
  justify-content: center;
}

.flex--jc-fe {
  justify-content: flex-end;
}

.flex--jc-sb {
  justify-content: space-between;
}

// Margin/Padding
.mb--sm {
  margin-bottom: 1rem;
}

.mb--md {
  margin-bottom: 2rem;
}

.mb--lg {
  margin-bottom: 4rem;
}

.mt--sm {
  margin-top: 1rem;
}

.mt--md {
  margin-top: 2rem;
}

.mt--lg {
  margin-top: 4rem;
}

.pb--sm {
  padding-bottom: 1rem;
}

.pb--md {
  padding-bottom: 2rem;
}

.pb--lg {
  padding-bottom: 4rem;
}

.pt--sm {
  padding-top: 1rem;
}

.pt--md {
  padding-top: 2rem;
}

.pt--lg {
  padding-top: 4rem;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 0 4rem;
  }
  .container--grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
  }
}
