*::selection {
  background: #dadada;
}

.mono {
  font-family: "input-mono", monospace;
}

.uppercase {
  text-transform: uppercase;
}

.fw--normal {
  font-weight: normal;
}

.italic {
  font-style: italic;
}
// Font Size

.fs--xs {
  font-size: 0.6rem;
}

.fs--sm {
  font-size: 0.7rem;
}

.fs--md {
  font-size: 0.8rem;
}

// Text Align

.text-align--c {
  text-align: center;
}

.text-align--r {
  text-align: right;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: kepler-std, serif; */
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

// Links

a {
  color: rgb(37, 37, 37);
}

a {
  border-bottom: 3px solid #0070f3;
  text-decoration: none;
}

a::selection {
  background: #0070f3;
  color: white;
}

.sub-nav a {
  border-bottom: 2px solid #afafaf;
}

.sub-nav a:hover {
  border-bottom: 2px solid #0071f3bb;
}

.sub-nav a.active {
  border-bottom: 2px solid #0071f3cc;
  font-weight: 500;
}

a.no-border,
.border--none {
  border-bottom: none;
}

.border--none:hover {
  border-bottom: none;
}

a:hover {
  border-bottom: 3px solid #0071f3bb;
}

p {
  // word-break: break-all;
}
/* QUOTES */
blockquote {
  font-size: 1.3rem;
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  margin-left: 2rem;
  padding: 2rem 0 2rem 2rem;
}

blockquote cite {
  font-size: 12px;
  opacity: 0.8;
  font-family: "input-mono", monospace;
}

p + blockquote,
h1 + blockquote,
h2 + blockquote,
h3 + blockquote,
h4 + blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

blockquote + p {
  margin-top: 2rem;
}
// Lists
.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Buttons

.btn {
  border-bottom: none;
  border: 1px solid #0070f3;
  display: inline-block;
  padding: 0.8rem;
  color: white;
  background: #0070f3;
}

.btn--ghost {
  background: transparent;
  color: #0070f3;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: #0064d6;
  border-bottom: none;
  color: white;
  border: 1px solid #0070f3;
}

// Single
.read-stats > span:first-child {
  font-size: 0.6rem;
  color: darkgrey;
}

/* Skip to content link */
/* Using @reach/skip-nav */

[data-reach-skip-nav-link] {
  background: #0071f3;
  left: calc(50% - 50px);
  color: white;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

[data-reach-skip-nav-link]:focus {
  transform: translateY(0%);
}
