.site-branding {
	float: left;
	@media #{$mobile} {
		float: none;
		display: flex;
		justify-content: center;
	} 
}

.homeHeader {
	padding: 40px;
	min-height: 50vh;
}

h1 {
	font-family: 'Montserrat';
	font-weight: 400;
	// text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;
	// border-top: 3px solid rgba(255,255,255,0.4);
	// border-bottom: 3px solid rgba(255,255,255,0.4);
	a{
		color: #404040;
	}
	@media #{$mobile} {
	font-size: 24px;
	} 
}

#site-navigation {
	margin: 5px 0;
	font-family: 'Montserrat';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	@media #{$mobile} {

	} 
	a {
		color: $color__link-hover;
		padding: 3px;
		&:hover {
			background-color: #fff;
		}
	}
	.menu-main-menu-container {
		float: right;
		@media #{$mobile} {
			float: none;
			display: block;
			text-align: center;
		} 
		ul {
			@media #{$mobile} {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				// align-items: center;
				// flex-direction: column;
			} 
			li {
				margin: 10px;
				@media #{$mobile} {
					margin: 3px;
					flex: 2 0 auto;
				} 
			}
			li.current-menu-item {
				border-bottom: 1px solid grey;
			}
		}
	}
}

// HOME HEADER STYLES ==============

.homeHeaderMain {
	padding: 40px;
	padding-bottom: 15%;
	min-height: 100vh;
	// -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
	// background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 10%);
	@media #{$large} {
		background-attachment: fixed;
		background-size: cover;
	} 
	@media #{$mobile} {
		padding: 20px;
	} 
}

h1.site-title-home {
	font-size: 35px;
	letter-spacing: 5px;
	a {
		color: rgba(255,255,255,0.8);
	}
	@media #{$mobile} {
		font-size: 20px;
	} 
}

#site-navigation-home {
	margin: 5px 0;
	font-family: 'Montserrat';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	a {
		color: rgba(255,255,255,0.7);
		padding: 3px;
		&:hover {
			background-color: rgba(255,255,255,0.15);
		}
	}
	.menu-main-menu-container {
		float: right;
		@media #{$mobile} {
			float: none;
			display: block;
			text-align: center;
		} 
		ul {
			@media #{$mobile} {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			} 
			li {
				margin: 10px;
				@media #{$mobile} {
					margin: 5px;
				}
			}
			li.current-menu-item {
				border-bottom: 1px solid #fff;
			}
		}
	}
}

.hero-image-text {
	position: relative;
	top: 80px;
	@media #{$mobile} {
		top: 20px;
	} 
	h5 {
		max-width: 480px;
		// text-align: center;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		letter-spacing: 3px;
		color: #fff;
		background-color: rgba(255,255,255,0.3);
		padding: 5px;
		margin: 10px 0;
		@media #{$mobile} {
			font-size: 12px;
			text-align: center;
		} 
	}
	h2 {
		margin: 0 auto;
		font-family: 'Montserrat';
		font-size: 65px;
		line-height: 100px;
		letter-spacing: 3px;
		color: rgba(255,255,255,0.9);
		@media #{$mobile} {
			margin-top: 10vw;
			font-size: 10vw;
			line-height: 13vw;
		} 
	}
	animation-duration: 1s;
	animation-delay: 0.5s;
}

.homeHighlight {
	background-color: rgba(255,255,255,0.2);
}




