/* SKIP TO CONTENT */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color: #767676;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    outline-color: #767676;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* BUTTONS */
.btn {
    display: inline-block;
    background: white;
    border: 1px solid blue;
    padding: 1rem 2rem;
    color: blue;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    background: blue;
    border: 1px solid blue;
    color: white;
}

