@media (prefers-color-scheme: dark) {
  body {
    color: #e0e0e0;
    background-color: #121212;
    -moz-osx-font-smoothing: grayscale;
  }

  /* LINKS */
  a {
    color: #e0e0e0;
    border-bottom: 3px solid #90caf9;
    text-decoration: none;
  }

  a:visited {
    color: #e0e0e0;
    border: none;
    border-bottom: 3px solid #90caf9;
  }

  a:hover,
  a:focus {
    font-weight: bold;
  }

  /* BUTTONS */
  .btn {
    background: transparent;
    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 1rem 2rem;
    color: #d7d7d7;
    text-decoration: none;
  }

  .btn:visited {
    border-bottom: 1px solid #d7d7d7;
  }

  .btn:hover,
  .btn:focus {
    background: #d7d7d7;
    border: 1px solid #d7d7d7;
    color: #222;
  }

  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.5);
  }
}
